<!DOCTYPE html>
<html ng-app="todo">
	<head>
		<link rel="stylesheet" type="text/css" href="css/reset.css">
		<link rel="stylesheet" type="text/css" href="css/pikaday.css">
		<link rel="stylesheet" type="text/css" href="css/styles.css">

		<script type="text/javascript" src="js/moment.js"></script>
		<script type="text/javascript" src="js/pikaday.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/angular-route.min.js"></script>
		<script type="text/javascript" src="js/scripts.js"></script>
	</head>
	<body>
		<header class="header">
			<nav class="menu" ng-controller="HeaderCtrl as menu">
				<a href="#/login" class="item {{menu.path == 'login' ? 'active' : 'inactive'}}">Login</a>
				<a href="#/todo" class="item  {{menu.path == 'todo' ? 'active' : 'inactive'}}">Todo</a>
				<a href="#/demo" class="item  {{menu.path == 'demo' ? 'active' : 'inactive'}}">Demo</a>
			</nav>
		</header>

		<div ng-view class="content"></div>

		<xt-loader template="tpl/xt-loader.html"></xt-loader>
	</body>
</html>